<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:solr="http://www.springframework.org/schema/data/solr"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/data/solr
        http://www.springframework.org/schema/data/solr/spring-solr.xsd">
    <!-- <context:property-placeholder location="classpath*:/properties/solrConfig.properties"/>-->
    <context:component-scan base-package="com.taotao"/>
    <!--solr单机版-->
    <solr:solr-client id="solrClient" url="http://192.168.228.137:8080/solr/core2"/>
    <!--solr集群-->
          <!--<constructor-arg name="zkHosts" value="192.168.228.138:2181,192.168.228.138:2182,192.168.228.138:2183">
        </constructor-arg> -->
    <bean id="CloudSolrClient" class="org.apache.solr.client.solrj.impl.CloudSolrClient">
        <constructor-arg index="0" value="192.168.228.138:2181,192.168.228.138:2182,192.168.228.138:2183"/>
        <property name="defaultCollection" value="core"/>
    </bean>


</beans>